<ion-header [translucent]="true" class="header-violencia">
  <ion-toolbar>
    <!-- Botón volver -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <!-- Centro: imagen + título -->
    <ion-title>
      <div class="title-container">
        <img src="/assets/figuras/recursos.png" alt="Violencia" class="header-img" />
        <div class="title-text">
          <h1>Recursos y Reportes</h1>
          <p>Un Reporte es el inicio de grandes éxitos</p>
        </div>
      </div>
    </ion-title>

    <!-- Botón extra -->
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- contenido de la página -->
</ion-content>
