.container {
  text-align: center;
  padding: 20px;
}

.clickable-title {
  cursor: pointer;
  color: #3880ff;
  font-weight: bold;
  font-size: 1.3rem;
}

.personaje-svg {
  margin-top: 30px;
  user-select: none;
}

.burbujas {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.burbuja {
  background: #4caf50;
  color: white;
  border-radius: 20px;
  padding: 8px 15px;
  font-weight: 600;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  user-select: none;
}

.header-toolbar{
  --background: #655CFA;
  --color: white;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.img_logo {
  width: 100px;
  height: 100px;
  padding: 2px;
 
  margin: 5px;
}

//Estilos de entrada del personaje

.svg-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.brazo-saludo {
  animation: moverBrazo 1s ease-in-out infinite alternate;
  transform-origin: 35px 55px;
}

@keyframes moverBrazo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

/*Estilos de Menu*/

ion-menu{
  --width:250px;
}
.main-content{
  background:linear-gradient(135deg, #e3f2fd,#fce4ec);
 height: 90%;
}